@reference "../app/globals.css";

.tiptap {
  @apply outline-none;

  > * + * {
    margin-top: 0.75em;
  }

  h1 {
    @apply text-3xl font-semibold tracking-tight;
  }

  h2 {
    @apply text-2xl font-semibold tracking-tight;
  }

  h3 {
    @apply text-xl font-semibold tracking-tight;
  }

  p {
    @apply text-base leading-7;
  }
}

.tiptap .is-empty::before {
  @apply pointer-events-none float-left h-0 text-zinc-400 dark:text-zinc-600;
  content: attr(data-placeholder);
}
